<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="TelegramAppender" type="Log4Telegram.TelegramBotAppender, Log4Telegram">
      <token><!-- your token here, you can create one by using the Telegram BotFather --></token>
      <recipient><!-- your recipient here, use the @userinfobot to retrieve it if you don't know it. --></recipient>
      
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="*%-5level* %newline `%date` %newline `%message` %newline %newline ```%exception```" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="TelegramAppender" />
    </root>
  </log4net>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="out.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>